<!DOCTYPE html>
<html>
    <head>
        <title>Local Bowling Alley</title>
    </head>
    <body>
        <h1>Buster's Best Bowling Alley</h1>
<<<<<<< HEAD
        <h2>Bet You Can't Bowl A Strike Every Time</h2>
        <p>97 Bowling Alley Lane, Boulder CO </p>
=======
        
        <p>This HTML code is inside of a '.erb' file in the views directory, where it belongs.</p>
>>>>>>> 3e83aecac00cbd5f2a2400053e040a96896c24b0
    </body>
</html>